{% extends "base.html" %}

{% block "content" %}

<div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4 well">
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            <table class="table">
                <tr><td>Leader name</td><td>{{ form.username }}</td></tr>
                <tr><td>Password</td><td>{{ form.password}}</td></tr>
                <tr><td><input type="submit" class="btn btn-success" value="Login"/></td><td></td></tr>
            </table>
        </form>
        <h2>Or <a href="/register">register</a></h2>
    </div>
    <div class="col-xs-4"></div>
</div>

{% endblock %}

