{% extends "base.html" %}

{% block "content" %}

    <div class="row well">
        <div class="col-xs-4" id="login">
            <h3>All Praise {{ user.username }} ( <a href="/accounts/logout?next=/">log out</a> )</h3>
        </div>
        <div class="col-xs-4" id="gameinfo">
            <h3>Breeding cycle {{game.ticks}}, next cycle in {{game.time_until_next_tick.total_seconds|floatformat:0}}s</h3>
        </div>
        <div class="col-xs-4" id="palaces">
            <h2>Biggest Palaces</h2>
            <ol>
                {% for top_leader in top_leaders %}
                    <li>{{top_leader.name}}: {{top_leader.palace_size}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-4" id="actions">
            {% if civ.unrest < civ.max_unrest %}
                <h2>Actions</h2>
                <p><a class="action btn btn-warning" href="/action/construct">Expand palace</a></p>
                <p><a class="action btn btn-danger" href="/action/raise_taxes">Raise taxes</a></p>
                <p><a class="action btn btn-success" href="/action/embezzle">Embezzle 100 crods</a></p>
                <p><a class="action btn btn-default" href="/action/import_nutrients">Import 100 crods of nutrients</a></p>
                <p><a class="action btn btn-default" href="/action/invest_economy">Invest 100 crods in the economy</a></p>
                <p><a class="action btn btn-default" href="/action/invest_healthcare">Invest 100 crods in healthcare</a></p>
                <p><a class="action btn btn-default" href="/action/invest_education">Invest 100 crods in education</a></p>
                <p><a class="action btn btn-default" href="/action/invest_agriculture">Invest 100 crods in agriculture</a></p>
            {% endif %}
        </div>

        <div class="col-xs-4" id="leader">
            <h2>
                {{ leader.name }} the Glorious
                {% if civ.unrest >= civ.max_unrest %}
                    HAS BEEN DEPOSED!
                {% endif %}
            </h2>
            Palace size: {{ leader.palace_size }}<br/>
            Personal funds: {{ leader.funds|floatformat:2 }} crods<br/>
        </div>

        <div class="col-xs-4" id="settlement">
            <h2>{{ civ.name }}</h2>
            <h3>Public funds: {{ civ.funds|floatformat:2 }} crods</h3>
            <h3>Population</h3>
            <table class="table">
                <tr><td>Children</td><td>{{ civ.children }}</td></tr>
                <tr><td>Breeders</td><td>{{ civ.breeders }}</td></tr>
                <tr><td>Others</td><td>{{ civ.others }}</td></tr>
                <tr><td>Total</td><td>{{ civ.population }}</td></tr>
            </table>

            <h3>Unrest</h3>
            <div class="progress">
                <div class="progress-bar" role="progressbar" 
                    aria-valuenow="{{ civ.unrest }}" aria-valuemin="0" aria-valuemax="{{ civ.max_unrest }}" 
                    style="width: {{ unrest_percent }}%;">
                    {{ civ.unrest }} unrest
              </div>
            </div>

            <h3>Resources</h3>
            {{ civ.nutrients }} nutrients remaining<br/>
            Tax Rate: {{ civ.tax_rate }}<br/>
        </div>
    </div>
{% endblock %}
