body {
    background-color: black;
    color: white;
}

input {
    color: black;
}

.well {
    color: #444;
}

.action {
    width: 20em;
}

#palace {
    line-height: 15px;
}

.palace-block {
    padding: 0px;
    margin: -1px;
    width: 15px;
    height: 15px;
}

.palace-block.disabled {
    padding: 0px;
    margin: -1px;
    width: 15px;
    height: 15px;
    background-color: #555;
}
